.app{
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 70px 5fr;
}



.navbar{
  grid-area: n;
}

.container{
  grid-area: c;
}